.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    background-color: white;
    padding: 30px;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

#login-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input[type="email"],
#login-form input[type="password"],
#login-form input[type="admin_key"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#login-form input[type="submit"],
#login-form input[type="button"] {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#login-form input[type="submit"] {
    background-color: #c35721;
    color: white;
    font-weight: bold;
}

#login-form input[type="submit"]:hover {
    background-color: #c35721b0;
}

.button {
    background-color: #6c757d;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: #5a6268;
}

#login-form a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

#login-form a:hover {
    text-decoration: underline;
}
