.page-header {
    
    background-color: rgba(96, 58, 32, 0.81);
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top:0.7%;
}

.page-title {
    margin: 0;
    font-size: 2.5em;
}

.registration-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 1.1em;
    color: #333;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #c35721;
    color: white;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 1.1em;
}

input[type="submit"]:hover {
    background-color: #c35721b0;
}

textarea {
    resize: vertical;
    height: 150px;
}