.intro-section {
    position: relative;
    text-align: center;
    height: 350px;
}

.intro-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 35%;
}

.intro-section .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(96, 58, 32, 0.81);
    padding: 10px 0 45px;
    border-radius: 8px;
    width: 70%;
    max-height: 270px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-section .intro-text h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.intro-section .intro-text p {
    font-size: 1rem;
    margin: 0;
}

.intro-text a {
    color: #c35721;
    text-decoration: none;
}

.intro-text a:hover {
    text-decoration: underline;
}

.care-section {
    margin-top: 45px;
}

.care-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: left;
}

.care-container h2 {
    color: #735134;
    font-size: 1.8em;
}

.care-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

.additional-help {
    text-align: center;
    margin-bottom: 4%;
}

.additional-help a {
    color: #c35721;
    text-decoration: none;
}

.additional-help a:hover {
    text-decoration: underline;
}